<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Sube o toma una foto</title>
   <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1 class = "Titulo">Diagnóstico</h1>

    <p>Su diagnóstico más probable es: {{pred}}</p>

    <p>Consulte a su médico.</p>
    <!--  <script>
    // Mostrar diagnóstico previo si lo necesitas
    const diagnostico = localStorage.getItem('diagnostico');
    if (diagnostico) {
      const mensaje = document.createElement('p');
      mensaje.textContent = "Diagnóstico seleccionado: " + diagnostico;
      document.body.prepend(mensaje);
    }
  </script> -->
</body>
</html>