body {
  font-family: Arial, sans-serif;
  background-color: #d0def3;
  padding: 40px;
}

h1 {
  color: #333;
}

.Titulo{
  text-align: center;
}

form {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label, select, input[type="radio"] {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.opciones-radio {
  margin-top: 10px;
}

.opciones-radio input {
  margin-right: 5px;
  margin-left: 10px;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 20px;
}

.grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
